body {
    background: rgb(75, 33, 88);
}

h1 {
    font-size: 4rem;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    color: white;
}

.container {
    width: 35%;
    height: 500px;
    display: flex;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 3px 3px 50px 3px rgb(235, 225, 225);
    justify-content: center;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 5px;
}

label {
    font-size: 1.8rem;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 0.7rem;
}

#cep {
    width: 50%;
    height: 20%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'IBM Plex Mono', monospace;
    align-items: center;
    margin: 0.5rem;
    border: 0;
    border-radius: 5px;
    padding: 1rem;
    background: whitesmoke;
}

#btnCep {
    width: 48%;
    height: 50px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    text-align: center;
    background: rgb(112, 64, 108);
    box-shadow: 2px 2px 2px rgb(189, 100, 185);
    border: 0;
    color: white;
    font-size: 1.2rem;
}

#bairro,
#cidade {
    display: inline-block;
    width: 100%;
    height: 10%;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'IBM Plex Mono', monospace;
    align-items: center;
    margin: 0.5rem;
    border: 0;
    border-radius: 5px;
    padding: 1rem;
    text-align: start;
    background: whitesmoke;
}

#rua {
    display: inline-block;
    width: 100%;
    height: 7%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'IBM Plex Mono', monospace;
    align-items: center;
    border: 0;
    border-radius: 5px;
    padding: 1rem;
    text-align: start;
    background: whitesmoke;
}

#uf {
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    width: 50%;
    height: 50%;
    border: 0;
    border-radius: 5px;
    padding: 1rem;
    text-align: start;
    background: whitesmoke;
}